@import "../partials/variables";
@import "../partials/generales";
@import "../partials/media";


.quiensoy{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
    .teoagua{
        justify-content: center;
    }
    .parrafo{
    color: $color-terciario;
    font-size: 15px;
    text-align: left;
    font-family: sans-serif;
    font-weight: bolder;
    }
}

.merchandising{
    margin: 10px;
    padding-left: 20px;
    .productos{
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
        border: solid $color-terciario;
        .remera{
            @include mercaderia;
        }
        .buzo{
            @include mercaderia;
        }
        .gorra{
            @include mercaderia;
        }
        .llavero{
            @include mercaderia;
        }
        .campera{
            @include mercaderia;
        }
        .vinilo{
            @include mercaderia;
        }
    }
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "teo1 teo2"
    "teo3 teo4"
    "teo5";
    .teo1{
        @include galerucha;
    }
    .teo2{
        @include galerucha;
    }
    .teo3{
        @include galerucha;
    }
    .teo4{
        @include galerucha;
    }
    .teo5{
        @include galerucha;
    }
}

.recitales{
margin-right: 350px;
margin-block: 100px;
padding-left: 400px;
}

.formulario{
    padding-bottom: 5px + 5;
    padding-inline: 25px * 10;
    border: 0px;
    text-align: center;
}