* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

nav {
  padding: 10px;
  margin-inline: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 30px;
  word-spacing: 10px;
}

.logo {
  text-align: center;
}

h1 {
  margin: 50px;
  color: white;
  text-align: center;
  text-decoration: underline;
}

h2 {
  color: white;
  text-decoration: underline;
  margin-block: 20px;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.quiensoy {
  display: flex;
  align-items: center;
  text-align: center;
}
.quiensoy .teoagua {
  justify-content: center;
}
.quiensoy .parrafo {
  color: whitesmoke;
  font-size: 15px;
  text-align: left;
  font-family: sans-serif;
  font-weight: bolder;
}

.merchandising {
  margin: 10px;
  padding-left: 20px;
}
.merchandising .productos {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  border: solid white;
}
.merchandising .productos .remera {
  padding: 10px;
  border: 2px solid white;
  justify-content: center;
  text-align: center;
}
.merchandising .productos .buzo {
  padding: 10px;
  border: 2px solid white;
  justify-content: center;
  text-align: center;
}
.merchandising .productos .gorra {
  padding: 10px;
  border: 2px solid white;
  justify-content: center;
  text-align: center;
}
.merchandising .productos .llavero {
  padding: 10px;
  border: 2px solid white;
  justify-content: center;
  text-align: center;
}
.merchandising .productos .campera {
  padding: 10px;
  border: 2px solid white;
  justify-content: center;
  text-align: center;
}
.merchandising .productos .vinilo {
  padding: 10px;
  border: 2px solid white;
  justify-content: center;
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "teo1 teo2" "teo3 teo4" "teo5";
}
.galeria .teo1 {
  justify-content: center;
  text-align: center;
  padding: 8px;
}
.galeria .teo2 {
  justify-content: center;
  text-align: center;
  padding: 8px;
}
.galeria .teo3 {
  justify-content: center;
  text-align: center;
  padding: 8px;
}
.galeria .teo4 {
  justify-content: center;
  text-align: center;
  padding: 8px;
}
.galeria .teo5 {
  justify-content: center;
  text-align: center;
  padding: 8px;
}

.recitales {
  margin-right: 350px;
  margin-block: 100px;
  padding-left: 400px;
}

.formulario {
  padding-bottom: 10px;
  padding-inline: 250px;
  border: 0px;
  text-align: center;
}

footer {
  text-align: center;
  background-color: yellowgreen;
  padding: 20px;
}
footer .redes {
  align-items: center;
}
footer .redes .facebook {
  padding-inline: 50px;
}
footer .redes .instagram {
  padding-left: 50px;
}
footer .redes .spotyfi {
  padding-inline: 50px;
}
footer .redes .tiktok {
  padding-right: 60px;
}

@media (max-width: 1024px) {
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: solid white;
    justify-items: center;
  }
  .productos .remera {
    width: 700px;
    height: 800px;
    margin-top: 15px;
  }
  .productos .buzo {
    width: 700px;
    height: 800px;
    margin-top: 15px;
  }
  .productos .llavero {
    width: 700px;
    height: 800px;
    margin-top: 15px;
  }
  .productos .gorra {
    width: 700px;
    height: 800px;
    margin-top: 15px;
  }
  .productos .llavero {
    width: 700px;
    height: 800px;
    margin-top: 15px;
  }
  .productos .campera {
    width: 700px;
    height: 800px;
    margin-top: 15px;
  }
  .productos .vinilo {
    width: 700px;
    height: 800px;
    margin-top: 15px;
  }
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "teo1 teo2" "teo3 teo4" "teo6";
  }
  .galeria .teo1 {
    width: 500px;
    height: 500px;
    margin-top: 15px;
  }
  .galeria .teo2 {
    width: 500px;
    height: 500px;
    margin-top: 15px;
  }
  .galeria .teo3 {
    width: 500px;
    height: 500px;
    margin-top: 15px;
  }
  .galeria .teo4 {
    width: 500px;
    height: 500px;
    margin-top: 15px;
  }
  .galeria .teo5 {
    width: 500px;
    height: 500px;
    margin-top: 15px;
  }
  .recitales {
    margin-block: 0;
    padding-left: 2px;
  }
  .recitales .velez {
    width: 1000px;
    height: 400px;
    margin-top: 15px;
  }
  .recitales .colon {
    width: 1000px;
    height: 400px;
    margin-top: 15px;
  }
  .recitales .flores {
    width: 1000px;
    height: 400px;
    margin-top: 15px;
  }
  .recitales .opera {
    width: 1000px;
    height: 400px;
    margin-top: 15px;
  }
  .recitales .vorterix {
    width: 1000px;
    height: 400px;
    margin-top: 15px;
  }
  .quiensoy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "parrafo" "teoagua";
  }
  .quiensoy .teoagua {
    width: 700px;
    height: 500px;
    margin-top: 15px;
  }
  .redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "facebook instagram" "spotyfi tiktok";
  }
  .redes .facebook {
    padding-left: 10px;
  }
  .redes .instagram {
    padding-right: 90px;
    padding-bottom: 15px;
  }
  .redes .spotyfi {
    padding-left: 10px;
  }
  .redes .tiktok {
    padding-left: 10px;
  }
}
@media (max-width: 768px) {
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: solid white;
    justify-items: center;
  }
  .productos .remera {
    width: 550px;
    height: 450px;
    margin-top: 15px;
  }
  .productos .buzo {
    width: 550px;
    height: 450px;
    margin-top: 15px;
  }
  .productos .gorra {
    width: 550px;
    height: 450px;
    margin-top: 15px;
  }
  .productos .llavero {
    width: 550px;
    height: 450px;
    margin-top: 15px;
  }
  .productos .campera {
    width: 550px;
    height: 450px;
    margin-top: 15px;
  }
  .productos .vinilo {
    width: 550px;
    height: 450px;
    margin-top: 15px;
  }
  .galeria {
    padding-left: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .galeria .teo1 {
    width: 700px;
    height: 500px;
    margin-top: 15px;
  }
  .galeria .teo2 {
    width: 700px;
    height: 500px;
    margin-top: 15px;
  }
  .galeria .teo3 {
    width: 700px;
    height: 500px;
    margin-top: 15px;
  }
  .galeria .teo4 {
    width: 700px;
    height: 500px;
    margin-top: 15px;
  }
  .galeria .teo5 {
    width: 700px;
    height: 500px;
    margin-top: 15px;
  }
  .recitales {
    margin-block: 0;
    padding-left: 10px;
  }
  .recitales .velez {
    width: 725px;
    height: 400px;
    margin-top: 15px;
  }
  .recitales .colon {
    width: 725px;
    height: 400px;
    margin-top: 15px;
  }
  .recitales .flores {
    width: 725px;
    height: 400px;
    margin-top: 15px;
  }
  .recitales .opera {
    width: 725px;
    height: 400px;
    margin-top: 15px;
  }
  .recitales .vorterix {
    width: 725px;
    height: 400px;
    margin-top: 15px;
  }
  .quiensoy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "parrafo" "teoagua";
  }
  .quiensoy .teoagua {
    width: 600px;
    height: 500px;
    margin-top: 15px;
  }
  .redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "facebook instagram" "spotyfi tiktok";
  }
  .redes .facebook {
    padding-left: 10px;
  }
  .redes .instagram {
    padding-right: 50px;
  }
  .redes .spotyfi {
    padding-left: 10px;
  }
  .redes .tiktok {
    padding-left: 10px;
  }
}
@media (max-width: 480px) {
  .encabezado {
    width: 450px;
    height: 300px;
  }
  .productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: solid white;
  }
  .productos .remera {
    width: 300px;
    height: 300px;
    margin-top: 15px;
  }
  .productos .buzo {
    width: 300px;
    height: 300px;
    margin-top: 15px;
  }
  .productos .gorra {
    width: 300px;
    height: 300px;
    margin-top: 15px;
  }
  .productos .llavero {
    width: 300px;
    height: 300px;
    margin-top: 15px;
  }
  .productos .campera {
    width: 300px;
    height: 300px;
    margin-top: 15px;
  }
  .productos .vinilo {
    width: 300px;
    height: 300px;
    margin-top: 15px;
  }
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .galeria .teo1 {
    width: 400px;
    height: 300px;
    margin-top: 15px;
  }
  .galeria .teo2 {
    width: 400px;
    height: 300px;
    margin-top: 15px;
  }
  .galeria .teo3 {
    width: 400px;
    height: 300px;
    margin-top: 15px;
  }
  .galeria .teo4 {
    width: 400px;
    height: 300px;
    margin-top: 15px;
  }
  .galeria .teo5 {
    width: 400px;
    height: 300px;
    margin-top: 15px;
  }
  .recitales {
    margin-block: 0;
    padding-left: 2px;
  }
  .recitales .velez {
    width: 450px;
    height: 200px;
    margin-top: 15px;
  }
  .recitales .colon {
    width: 450px;
    height: 200px;
    margin-top: 15px;
  }
  .recitales .flores {
    width: 450px;
    height: 200px;
    margin-top: 15px;
  }
  .recitales .opera {
    width: 450px;
    height: 200px;
    margin-top: 15px;
  }
  .recitales .vorterix {
    width: 450px;
    height: 200px;
    margin-top: 15px;
  }
  .quiensoy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "parrafo" "teoagua";
  }
  .quiensoy .teoagua {
    width: 400px;
    height: 400px;
    margin-top: 15px;
  }
  .formulario {
    padding-inline: 5px;
  }
  .redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "facebook instagram" "spotyfi tiktok";
  }
  .redes .facebook {
    padding-left: 10px;
  }
  .redes .instagram {
    padding-right: 50px;
  }
  .redes .spotyfi {
    padding-left: 10px;
  }
  .redes .tiktok {
    padding-left: 10px;
  }
}/*# sourceMappingURL=estiloz.css.map */