*{
    padding: 0;
    margin: 0;
}

nav {
    padding: 10px;
    margin-inline: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
}
.logo {
    text-align: center;
}

body{
    background-color: $color-primario;
}

h1{
    margin: 5px * 10;
    color: $color-terciario;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: $color-terciario;
    text-decoration: underline;
    margin-block: 5px * 4;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

footer{
    text-align: center;
    background-color: $color-secundario;
    margin-top: 10px;
    padding: 15px;
    .redes{
        align-items: center;
        padding-top: 15px;
        .li{
            display: inline-block;
        }
        .facebook{
            padding-inline: 150px;
        }
        .instagram{
            padding-inline: 150px;
        }
        .spotyfi{
            padding-inline: 140px;
        }
        .tiktok{
            padding-inline: 150px;
        }
    }
}

.facebook:hover{
    transform: scale(2);
}
.instagram:hover{
    transform: scale(2);
}
.spotyfi:hover{
    transform: scale(2);
}
.tiktok:hover{
    transform: scale(2);
}